# This is a TOML configuration file.

# Connection details of a Electrum Server.
[electrum]
    ServerHost  = "testnet.hsmiths.com"
    ServerPort  = "53012"

# Connection details for Block Cypher API.
[blockcypher]
    Token   = "d195ca15455f42b7842abd7c691191c9"
    Coin    = "btc"
    Chain   = "test3"

# Connection details of ethereum blockchain.
[ethereum]
    URL = "ws://127.0.0.1:8545"
    
[ethereum.account]
	KeyFile = "/Users/someuser/ethereum/data/keystore/UTC--2018-03-11T01-37-33.202765887Z--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8AAAAAAAAA"

# Addresses of contracts deployed on ethereum blockchain.
[ethereum.ContractAddresses]
     ECDSAKeepFactory = "0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

# Addresses of applications which operator selected as approved and wants to opt in.
[SanctionedApplications]
Addresses = ["0xBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
             "0xCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"]

[Storage]
    DataDir = "/my/secure/location"
