# This is a TOML configuration file.

# Connection details of ethereum blockchain.
[ethereum]
  URL = "ws://127.0.0.1:8545"
  URLRPC = "http://127.0.0.1:8546"

[ethereum.account]
  KeyFile = "/Users/someuser/ethereum/data/keystore/UTC--2018-03-11T01-37-33.202765887Z--AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8AAAAAAAAA"

# Addresses of contracts deployed on ethereum blockchain.
[ethereum.ContractAddresses]
  BondedECDSAKeepFactory = "0xBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
  KeepBonding = "0xCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC"
  TokenStaking = "0xDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD"

# Addresses of applications approved by the operator.
[SanctionedApplications]
  Addresses = [
    "0xEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE",
    "0xFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"
  ]

[Storage]
  DataDir = "/my/secure/location"

# [LibP2P]
# 	Peers = ["/ip4/127.0.0.1/tcp/3919/ipfs/njOXcNpVTweO3fmX72OTgDX9lfb1AYiiq4BN6Da1tFy9nT3sRT2h1"]
# 	Port = 3920
#   # Uncomment to override the node's default addresses announced in the network
#   # AnnouncedAddresses = ["/dns4/example.com/tcp/3919", "/ip4/80.70.60.50/tcp/3919"]

[TSS]
# Timeout for TSS protocol pre-parameters generation. The value
# should be provided based on resources available on the machine running the client.
# This is an optional parameter, if not provided timeout for TSS protocol
# pre-parameters generation will be set to `2 minutes`.
#  PreParamsGenerationTimeout = "2m30s"
