apiVersion: v1
kind: Secret
metadata:
  name: celo-network-alfajores
  namespace: default
type: Opaque
data:
  contract-owner-celo-account-private-key : "base64 encoded private key"
  keep-ecdsa-rpc-url: "base64 encoded url"
  keep-ecdsa-ws-url: "base64 encoded url"